{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EssayGrader</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <!-- <link rel="stylesheet" ref="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css"> -->
  <!-- <link rel="stylesheet" href={% static 'css/style.css' %} type="text/css"/> -->
  <!-- <link rel="stylesheet" href="static/css/style.css" type="text/css"/> -->
  <script src={% static 'js/script.js' %} type="text/javascript"></script>
  <!--<script src="static/js/script.js" type="text/javascript"></script> -->
  </head>
<!-- <body>
  <nav>
    <section class="nav-container">
      <div class="logo">
        <img src={% static 'images/Refined_NewFormat.png' %}>
        <!-- <img src="static/images/Refined_NewFormat.png"> -->
      <!-- </div>
      <div class="login-main">
        <div class="login-content">
          <a href="#" id="login">login</a>|<a href="#">Register</a>
        </div>
        <div class="arrow-up"></div>
        <div class="login-form">
          <form id="loginform">
            <div>
              <input name="csrfToken" value="5965f0d244b7d32b334eff840" type="hidden">
            </div>
            <div>
              <input type="text" id="username" placeholder="Username" required/> 
            </div>
            <div>
              <input type="password" id="password" placeholder="Password" required/> 
            </div>
            <div>
              <input type="submit" value="LogIn"/> 
            </div>
            <div>
              <a class="forgot-pass">Forget Password</a>
            </div>
            <div>
              <span id="ajax_response"></span>
            </div>
          </form>
        </div>
      </div>    
    </section>
  </nav>
</body> -->
<body>
  <form name="evaluvate" id="loginform">
    <textarea rows="10" cols="10" id="username"></textarea><br>
    <input type="submit" id="evaluvae" value="EVALUATE"><br>
    grammer: <span id="1"></span><br>
    grammer: <span id="2"></span><br>
    grammer: <span id="3"></span><br>
  </form>
</body>
</html>